<form method="post" action="/auth/register">
    <label for="email">E-mail:</label>
    <input type="email" id="email" placeholder="E-mail" name="email" required>

    <label for="password">Password:</label>
    <input type="password" id="password" placeholder="Password" name="password" required>

    <input type="submit" value="Register user">
</form>